<div class="pay-parameters">
    <div class="title-box">
        <div class="line"></div>
        <span class="title">Параметры оплаты</span>
        <img class="mobile-version back-btn" src="../static/mobile-arrow-back.svg" alt="">
    </div>
    <div class="back-box-pay-parameters desktop-only">
        <span class="back-to-previous-page ">Назад к выбору услуги</span>
        <img class="back-arrow" alt="" src="../static/back-arrow.svg">
    </div>
    <div class="pay-parameters-content">
        <div class="contacts-block">
            <div class="title">Контактные данные</div>
            <div class="inputs-block">
                <div class="input">
                    <div class="caption">Имя</div>
                    <input type="text" class="value" placeholder="Иван">
                </div>
                <div class="input">
                    <div class="caption">Фамилия</div>
                    <input type="text" class="value" placeholder="Иванов">
                </div>
                <div class="input">
                    <div class="caption">Телефон</div>
                    <input type="tel" class="value phone" placeholder="+7">
                </div>
                <div class="input">
                    <div class="caption">Email</div>
                    <input type="email" class="value email" placeholder="example@mail.com">
                </div>
            </div>
            <img src="../static/checkbox.svg" alt="" class="checkbox">
            <div class="checkbox-label">Я принимаю <span class="url">соглашение</span> об обработке персональных данных.
            </div>
        </div>
        <div class="rooms-list-block">
            <div class="room-info">
                <div class="row">
                    <div class="room-photos">
                        <img src="static/room-small-1.jpg" data-big-img="static/room-big-1.jpg" alt="">
                        <img src="static/room-small-2.jpg" data-big-img="static/room-big-2.jpg" alt="">
                        <img src="static/room-small-3.jpg" data-big-img="static/room-big-3.jpg" alt="">
                        <img src="static/room-small-4.jpg" data-big-img="static/room-big-4.jpg" alt="">
                        <img src="static/room-small-5.jpg" data-big-img="static/room-big-5.jpg" alt="">
                        <img src="static/room-small-6.jpg" data-big-img="static/room-big-6.jpg" alt="">
                        <img src="static/room-small-7.jpg" data-big-img="static/room-big-7.jpg" alt="">
                        <img src="static/room-small-8.jpg" data-big-img="static/room-big-8.jpg" alt="">

                    </div>
                    <div class="slick-counter">
                        <span class="value">0/0</span>
                    </div>
                    <div class="title">Семейный номер с видом на море</div>
                    <div class="frame-154">
                        <div class="frame-132">
                            <div class="frame-127">
                                <div class="man-icon"></div>
                                <div class="man-icon"></div>
                            </div>
                        </div>
                        <div class="frame-133">
                            <div class="frame-127">
                                <div class="man-icon"></div>
                                <div class="man-icon"></div>
                                <div class="plus-icon"></div>
                                <div class="child-icon"></div>
                                <div class="child-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="title2 selected-tariff">«Стандарт»</div>
                    <div class="tariff">
                        <div class="row">
                            <img src="../static/plate1.svg" alt="" class="addon-image">
                            <div class="addon-text">Включены завтрак, обед или ужин
                                <div class="help-icon" data-tooltip=""></div>
                            </div>
                        </div>
                        <div class="row">
                            <img src="../static/ring.svg" alt="" class="addon-image">
                            <div class="addon-text">Двухспальная кровать King size*
                                <div class="help-icon" data-tooltip=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line2"></div>
                <div class="row">
                    <div class="title2">Имя первого гостя</div>
                    <div class="input">
                        <div class="caption">Имя</div>
                        <input type="text" class="value" placeholder="Иван">
                    </div>
                    <div class="input">
                        <div class="caption">Фамилия</div>
                        <input type="text" class="value" placeholder="Иванов">
                    </div>
                </div>
                <div class="row flex alignLeft margin">
                    <img class="checkbox" alt="" src="../static/checkbox.svg">
                    <div class="checkbox-text">Отправить копию подтверждения этому гостю</div>
                </div>
                <div class="row">
                    <div class="input">
                        <div class="caption">Email</div>
                        <input type="email" class="value" placeholder="example@mail.com">
                    </div>
                </div>
                <button class="set-all-guests-names-button">
                    Указать имена всех гостей
                </button>
            </div>
        </div>
        <div class="additional-info">
            <div class="title">Время заезда</div>
            <div class="row">
                <div class="options-box droopdown" data-value="unknown">
                    <div class="caption">Время заезда</div>
                    <div class="box-value droopdown-value">Неизвестно</div>
                    <img class="options-box-arrow-down" src="../static/arrow-down-select-blue.svg" alt="">
                    <div class="droopdown-expanded align-left">
                        <div class="droopdown-elements">
                            <div class="droopdown-element language" data-value="unknown">
                                <div class="value">Неизвестно</div>
                            </div>
                            <div class="droopdown-element language" data-value="14:00">
                                <div class="value">14:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="15:00">
                                <div class="value">15:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="16:00">
                                <div class="value">16:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="17:00">
                                <div class="value">17:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="18:00">
                                <div class="value">18:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="19:00">
                                <div class="value">19:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="20:00">
                                <div class="value">20:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="21:00">
                                <div class="value">21:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="21:00">
                                <div class="value">21:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="22:00">
                                <div class="value">22:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="23:00">
                                <div class="value">23:00</div>
                            </div>
                            <div class="droopdown-element language" data-value="00:00,next">
                                <div class="value">00:00, next day</div>
                            </div>
                            <div class="droopdown-element language" data-value="01:00,next">
                                <div class="value">01:00, next day</div>
                            </div>
                            <div class="droopdown-element language" data-value="02:00,next">
                                <div class="value">02:00, next day</div>
                            </div>
                            <div class="droopdown-element language" data-value="03:00,next">
                                <div class="value">03:00, next day</div>
                            </div>
                            <div class="droopdown-element language" data-value="04:00,next">
                                <div class="value">04:00, next day</div>
                            </div>
                            <div class="droopdown-element language" data-value="05:00,next">
                                <div class="value">05:00, next day</div>
                            </div>
                            <div class="droopdown-element language" data-value="06:00,next">
                                <div class="value">06:00, next day</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="help-text">Ваш номер будет готов к 15:00</div>
            </div>
            <div class="row">
                <div class="textarea">
                    <div class="caption">Ваши пожелания</div>
                    <textarea placeholder="Хочу бар..."></textarea>
                </div>
            </div>
            <div class="row subtext">
                Стандартное время выезда - 12:00. Если вы хотите заехать в другое время, укажите его выше. Отель может
                взимать плату за ранний заезд.
            </div>
            <div class="row">
                <fieldset id="group1">
                    <label>
                        <input type="radio" value="value1" checked name="group1">
                        <span class="caption">Оплатить всю сумму брони.</span>
                    </label>
                    <label>
                        <input type="radio" value="value2" name="group1">
                        <span class="caption">Оплатить предоплату 6,746.00 RUB</span>
                    </label>
                    <label>
                        <input type="radio" value="value3" name="group1">
                        <span class="caption">Оплатить на месте</span>
                    </label>
                </fieldset>
            </div>
            <button class="next-step-button">Забронировать</button>
        </div>
        <div class="down-title">
            <div class="title-box">
                <div class="line"></div>
                <span class="title">Способы оплаты</span>
            </div>
        </div>
        <div class="pay-way">
            <div class="pay-item">
                <img src="../static/pay-visa.svg" alt="">
                <div class="blend"></div>
            </div>
            <div class="pay-item">
                <img src="../static/pay-dopay.svg" alt="">
                <div class="blend"></div>
            </div>
            <div class="pay-item">
                <img src="../static/pay-mastercard.svg" alt="">
                <div class="blend"></div>
            </div>
            <div class="pay-item">
                <img src="../static/pay-mir.svg" alt="">
                <div class="blend"></div>
            </div>
            <div class="pay-item">
                <img class="faded" src="../static/pay-maestro.svg" alt="">
                <div class="blend"></div>
            </div>
        </div>
        <div class="paragon-block fixed" data-offset="395">
            <div class="mobile-version roll-block">
                <img src="../static/roll-btn.svg" class="mobile-version roll-btn" alt="">
            </div>
            <div class="rolling roll-up">
                <div class="guests-count">
                    <img class="icon" alt="" src="../static/guests-icon.svg">
                    <div class="value"><span class="count">4</span> гостя</div>
                </div>
                <div class="rooms-days-count">
                    <img class="icon" alt="" src="../static/room-days-icon.svg">
                    <div class="value"><span class="rooms-count">2</span> номера на <span class="night-count">6</span>
                        ночей
                    </div>
                </div>
                <div class="dates-count">
                    <img class="icon" alt="" src="../static/dates-icon.svg">
                    <div class="value"><span class="in-date">24 мая 2020 г.</span> → <span
                            class="out-date">2 июня 2020 г.</span></div>
                </div>
                <div class="line1"></div>
                <div class="row">
                    <div class="col1">1 775,50₽ x 9 ночей</div>
                    <div class="col2">16 979,00 ₽</div>
                </div>
                <div class="row">
                    <div class="col1 green">15% скидка по промокоду</div>
                    <div class="col2">-2 979,00 ₽</div>
                </div>
                <div class="row">
                    <div class="col1">Доп. услуги (2)
                        <div class="help-icon" data-tooltip=""></div>
                    </div>
                    <div class="col2">2 200,00 ₽</div>
                </div>
                <div class="line2"></div>
            </div>
            <div class="full-price-block">
                <div class="col1">Итого (RUB)</div>
                <div class="col2">16 200,00 ₽</div>
            </div>
        </div>
    </div>
</div>