<link rel="stylesheet" href="../style/main.scss">
<div class="paying">
    <div class="title-box">
        <div class="line"></div>
        <span class="title">Оплата</span>
        <img class="mobile-version back-btn" src="../static/mobile-arrow-back.svg" alt="">
    </div>
    <div class="back-paying desktop-only">
        <span class="back-to-previous-page">Назад к параметрам оплаты</span>
        <img class="back-arrow" alt="" src="../static/back-arrow.svg">
    </div>
    <div class="paying-contacts-block input-hor">
        <div class="contact-name-caption">Имя держателя карты</div>
        <input type="text" class="contact-name-value" placeholder="Иван Иванов">
        <div class="line"></div>
        <div class="contact-email-caption">Электронная почта</div>
        <input type="email" class="contact-email-value email" placeholder="example@mail.com">
    </div>
    <div class="credit-card input-hor">
        <div class="credit-card-title">Кредитная карта</div>
        <img src="../static/credit-card-icon.svg" alt="" class="credit-card-icon">
        <input type="text" maxlength="27" class="credit-card-value" placeholder="xxxx - xxxx - xxxx - xxxx">
        <input type="text" maxlength="7"class="credit-card-exp" placeholder="ММ / ГГ">
        <input type="text" maxlength="3" class="credit-card-cvc" placeholder="CVC">
    </div>
    <button class="pay-confirm">Оплатить: 33,730.00 RUB</button>
    <div class="accepted-currency">
        <div class="currency-group">
            <img src="../static/pay-visa.svg" alt="">
            <img src="../static/pay-mastercard.svg" alt="">
            <img src="../static/pay-mir.svg" alt="">
            <img class="faded" src="../static/pay-maestro.svg" alt="">
        </div>
    </div>
</div>