<div class="popup-select-guest">
    <div class="decorate"></div>
    <div class="fade-top"></div>
    <div id="apartment-blocks" class="apartment-blocks">
        <div class="apartment-block" data-id="first_room">
            <div class="apartment-row">
                <div class="frame-275">
                    <div class="apartment-num">Номер 1</div>
                </div>
                <div class="input-up-label1">
                    <span class="title">Взрослые 15+</span>
                    <div class="form">
                        <div class="number-input">
                            <label>
                                <input type="number" min="1" max="100" maxlength="3" class="input-value adult"
                                       value="1"/>
                            </label>
                        </div>
                        <div class="input-minus"></div>
                        <div class="input-plus"></div>
                    </div>
                </div>
                <div class="input-up-label2">
                    <span class="title">Дети 3-14 лет</span>
                    <div class="form">
                        <div class="number-input">
                            <input type="number" min="0" max="100" maxlength="3" class="input-value children"
                                   value="0"></input>
                        </div>
                        <div class="input-minus"></div>
                        <div class="input-plus"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-1 clickable">
        <span class="button-label ">Добавить номер</span>
    </div>
    <div class="button-2 clickable">
        <span class="button-label ">Готово</span>
    </div>
</div>