<div class="reserve-selection-popup">
    <div class="decorate"></div>
    <img class="left-triangle" alt="" src="../static/left-triangle.svg">
    <div class="window-title">Забронировать места</div>
    <div class="window-close-btn"></div>
    <div class="window-subtitle">Выберите номер, для которого хотите осуществить бронь.</div>
    <div class="text-summ-for">
        * Рассчитанная сумма за <span>7</span> ночей
    </div>
    <div class="button-subbmit">
        <div class="caption">Забронировать</div>
    </div>
</div>