<div class="reserve-room-window">
    <div class="window-title">Ваш выбор номеров</div>
    <div class="window-subtitle">Выберите номер, для которого хотите осуществить бронь.</div>
    <div class="rooms-list"></div>
    <div class="promo">
        <img alt="" class="emoji" src="../static/emoji.svg">
        <div class="hurry">Выбирайте скорее!</div>
        <div class="have-promo clickable">
            <img src="../static/promo-img.svg" alt="" class="promo-img">
            <span class="value">У меня есть промокод</span>
        </div>
    </div>
    <div class="line2"></div>
    <div class="down-block">
        <div class="price-final">Итого (RUB)</div>
        <div class="price-final-value">0,00 ₽</div>
        <div class="button-buy">
            <div class="decorate"></div>
            <div class="caption">Забронировать</div>
        </div>
    </div>
</div>