<div class="reserve-room-window">
    <div class="mobile-version roll-block">
        <img src="../static/roll-btn.svg" class="mobile-version roll-btn" alt="">
    </div>
    <div class="rolling roll-up">
        <div class="window-title">Ваш выбор номеров</div>
        <div class="window-subtitle">Выберите номер, для которого хотите осуществить бронь.</div>
        <div class="rooms-list"></div>
        <div class="promo">
            <img alt="" class="emoji" src="../static/emoji.svg">
            <div class="hurry">Выбирайте скорее!</div>
            <div class="have-promo clickable">
                <img src="../static/promo-img.svg" alt="" class="promo-img">
                <a href="#promo" class="no-promo"><span class="value">У меня есть промокод</span></a>
                <div class="promo-entered-title">Ваш промокод:</div>
                <div class="promo-entered">XXSSDDD</div>
            </div>
        </div>
        <div class="line2"></div>
    </div>
    <div class="down-block">
        <div class="price-final">Итого (RUB)</div>
        <div class="price-final-value">0,00 ₽</div>
        <div class="button-buy desktop-only">
            <div class="decorate"></div>
            <div class="caption">Забронировать</div>
        </div>
        <div class="button-buy mobile-version">
            <div class="decorate"></div>
            <div class="caption">Забронировать - 0,00 ₽</div>
        </div>
    </div>
</div>