.available-rooms {
  position: relative;
  width: 960px;
  height: 56px;
  .available-rooms-title-box {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 299px;
    height: 56px;
    background: #FAFBFC;
    left: calc(50% - 299px / 2);
    z-index: 2;
    .available-rooms-title {
      position: static;
      width: 251px;
      height: 32px;
      margin: 0 auto;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: rgba(47, 72, 106, 0.24);
      flex: none;
      order: 0;
      align-self: center;
    }
  }
  .available-rooms-line {
    position: absolute;
    width: 960px;
    height: 1px;
    top: 30px;
    background: #DCDFE2;
  }
  .available-rooms-filter{
    position: relative;
    top: 80px;
    .available-rooms-filter-title{
      position: absolute;
      width: 88px;
      height: 20px;

      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      /* identical to box height, or 143% */
      display: flex;
      align-items: center;
      /* Second Black */
      color: rgba(47, 72, 106, 0.75);
    }
  }
}
