.button-1 {
  display: flex;
  position: absolute;
  width: 211px;
  height: 44px;
  left: 16px;
  top: 150px;
  background: rgba(84, 156, 255, 0.25);
  border-radius: 4px;
  .button-label {
    position: static;
    width: 116px;
    height: 32px;
    left: 47.5px;
    top: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #267FF9;
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px auto;
  }
}
.button-2 {
  display: flex;
  position: absolute;
  width: 101px;
  height: 44px;
  left: 239px;
  top: 150px;
  /* Blue */
  background: #267FF9;
  box-shadow: 0px 6px 12px rgba(38, 127, 249, 0.2), 0px 4px 6px rgba(38, 127, 249, 0.2);
  border-radius: 4px;
  .button-label {
    position: static;
    width: 48px;
    height: 32px;
    left: 26.5px;
    top: 6px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    /* identical to box height, or 229% */
    display: flex;
    align-items: center;
    /* White */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px auto;
  }
}