@import "slick.path";
@import "popup-select-guest";
@import "available.rooms.none";
@import "available.rooms";
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  position: absolute;
  width: 8px;
  height: 142px;
  left: 344px;
  top: 155px;

  background: rgba(47, 72, 106, 0.25);
  border-radius: 19px;
}
input[type=checkbox]{
  &:before{
    background: url(../static/checkbox.svg) no-repeat top left;
  }
  &:checked{}
}
.clickable{
  cursor:pointer;
}
.main-layer {
  margin: 0 auto;
  width: 960px;
  font-family: Inter;
  background: #FAFBFC;
  .rectangle-top {
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: rgba(47, 72, 106, 0.75);
    background: #EBEFF2;
    border-radius: 0px 0px 8px 8px;
    .arrow-down {
      width: 16px;
      height: 16px;
      vertical-align: middle;
    }
    %top {
      top: 16px;
    }
    .frame-7 {
      display: inline-block;
      width: 230px;
      position: relative;
      left: 15px;
      @extend %top;
      .frame-1, .frame-2 {
        display: inline-block;
        padding: 2px 8px;
        align-self: center;
      }
    }
    .terms-frame {
      display: inline-block;
      position: relative;
      height: 24px;
      left: 560px;
      @extend %top;
      .privacy-and-term {
        display: inline-block;
        width: 125px;
      }
      .info-icon {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height */
        color: rgba(47, 72, 106, 0.25);
      }
    }
    margin-bottom: 32px;
  }
  .rectangle-2 {
    width: 960px;
    height: 315px;
    background: #FFFFFF;
    box-shadow: 0px -2px 1px rgba(85, 89, 106, 0.0196802), 0px 2px 1px rgba(85, 89, 106, 0.0196802), 0px 4px 2px rgba(85, 89, 106, 0.0282725), 0px 6px 4px rgba(85, 89, 106, 0.035), 0px 8px 8px rgba(85, 89, 106, 0.0417275), 0px 18px 16px rgba(85, 89, 106, 0.0503198), 0px 30px 40px rgba(85, 89, 106, 0.07);
    border-radius: 8px;
    margin-bottom: 32px;
    position: relative;
    .main-info {
      position: relative;
      top: 24px;
      left: 24px;
      .title {
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #2F486A;
      }
      .contacts {
        display: inline-block;
        position: relative;
        top: 21px;
        .adress-row {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: rgba(47, 72, 106, 0.75);
          height: 24px;
          margin-bottom: 16px;
          svg {
            margin-right: 12px;
            position: relative;
            top: 2px
          }
        }
        .phone-row {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: rgba(47, 72, 106, 0.75);
          margin-bottom: 16px;
          height: 24px;
          svg {
            margin-right: 12px;
            position: relative;
            top: 2px
          }
          .phone-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #267FF9;
          }
        }
        .email-row {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          height: 24px;
          color: rgba(47, 72, 106, 0.75);
          margin-bottom: 16px;
          svg {
            margin-right: 12px;
            position: relative;
            top: 4px
          }
          .text {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #267FF9;
          }
        }
      }
      .image {
        display: inline-block;
        position: relative;
        top: -10px;
        left: 230px;
      }
    }
    .photos {
      position: relative;
      top: 45px;
      left: 16px;
      width: 925px;
      overflow: hidden;
      white-space: nowrap;
      img {
        border-radius: 4px;
        width: 160px;
        height: 90px;
        margin-right: 12px;
      }
    }
    .image-fade {
      display: block;
      width: 64px;
      height: 90px;
      position: absolute;
      background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 1) 100%);
      right: 24px;
      bottom: 13px;
    }
  }
  .search-form {
    position: relative;
    width: 960px;
    height: 132px;
    background: #267FF9;
    box-shadow: 0px 2px 1px rgba(38, 127, 249, 0.0196802), 0px 4px 2px rgba(38, 127, 249, 0.0282725), 0px 6px 4px rgba(38, 127, 249, 0.035), 0px 8px 8px rgba(38, 127, 249, 0.0417275), 0px 18px 16px rgba(38, 127, 249, 0.0503198), 0px 30px 40px rgba(38, 127, 249, 0.16);
    border-radius: 8px;
    margin-bottom: 32px;
    z-index: 3;
    .title {
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      text-transform: uppercase;
      color: #FFFFFF;
      position: relative;
      top: 16px;
      left: 18px;
    }
    .have-promo {
      position: absolute;
      display: inline-block;
      top: 20px;
      left: 742px;
      svg {
        margin-right: 4px;
        position: relative;
        top: 2px;
      }
      .value {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        padding-bottom: 4px;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.25);
      }
    }
    .body {
      position: absolute;
      width: 456px;
      height: 52px;
      left: 16px;
      top: 64px;
      .in-out {
        .in-out-border {
          position: absolute;
          left: 0%;
          right: 0%;
          top: 0%;
          bottom: 0%;
          background: #549CFF;
          mix-blend-mode: normal;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
        }
        .in-out-div {
          position: absolute;
          width: 2px;
          height: 52px;
          left: 227px;
          top: 0px;
          background: #C4C4C4;
        }
        .in-text {
          position: absolute;
          width: 35px;
          height: 16px;
          left: 12px;
          top: calc(50% - 16px / 2 - 10px);
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          /* identical to box height, or 133% */
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
        .in-date-value {
          position: absolute;
          width: 76px;
          height: 20px;
          left: 12px;
          top: calc(50% - 20px / 2 + 8px);
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height, or 143% */
          display: flex;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
        }
        .out-text {
          position: absolute;
          width: 38px;
          height: 16px;
          left: 241px;
          top: calc(50% - 16px / 2 - 10px);
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          /* identical to box height, or 133% */
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
        .out-date-value {
          position: absolute;
          width: 76px;
          height: 20px;
          left: 241px;
          top: calc(50% - 20px / 2 + 8px);
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height, or 143% */
          display: flex;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
        }
        .calendar-icon {
          position: absolute;
          width: 24px;
          height: 24px;
          right: 14px;
          top: calc(50% - 24px / 2);
        }
        .calendar-window {
          position: relative;
          width: 420px;
          height: 494px;
          top: 80px;
          left: 36px;
          background: #FFFFFF;
          box-shadow: 0px 2px 1px rgba(85, 89, 106, 0.0196802), 0px 4px 2px rgba(85, 89, 106, 0.0282725), 0px 6px 4px rgba(85, 89, 106, 0.035), 0px 8px 8px rgba(85, 89, 106, 0.0417275), 0px 18px 16px rgba(85, 89, 106, 0.0503198), 0px 30px 40px rgba(85, 89, 106, 0.07);
          border-radius: 8px;
          .month-list-decorate {
            position: absolute;
            width: 494px;
            height: 116px;
            left: -189px;
            top: 189px;
            background: #FAFBFC;
            border-radius: 8px 8px 0px 0px;
            transform: rotate(-90deg);
          }
          .calendar-v-div {
            position: absolute;
            height: 1px;
            left: -134px;
            right: 57px;
            bottom: 245px;
            background: #DCDFE2;
            transform: rotate(-90deg);
          }
          .calendar-h-div {
            position: absolute;
            height: 1px;
            left: 115px;
            right: 0px;
            bottom: 441px;
            background: #DCDFE2;
          }
          .month-list {
            display: flex;
            flex-direction: column;
            padding: 8px;
            position: absolute;
            width: 116px;
            height: 494px;
            left: 0px;
            top: 0px;
            .month-row {
              display: flex;
              flex-direction: column;
              padding: 10px;
              position: static;
              width: 77px;
              height: 20px;
              left: 8px;
              top: 8px;
              /* Inside Auto Layout */
              flex: none;
              order: 0;
              align-self: flex-start;
              &:hover {
                cursor: pointer;
              }
              &.active {
                background: rgba(38, 127, 249, 0.25);
                border-radius: 8px;
                .name {
                  color: #267FF9;
                }
              }
              .name {
                position: static;
                height: 18px;
                left: calc(50% - 50px / 2 - 15px);
                top: calc(50% - 18px / 2);
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                /* identical to box height, or 129% */
                display: flex;
                align-items: center;
                /* Second Black */
                color: rgba(47, 72, 106, 0.75);
                /* Inside Auto Layout */
                flex: none;
                order: 0;
                align-self: flex-start;
              }
            }
          }
          .day-name-cols {
            display: flex;
            flex-direction: row;
            padding: 0px;
            position: absolute;
            width: 280px;
            height: 36px;
            left: 128px;
            top: 8px;
            .day-name-col {
              position: absolute;
              width: 40px;
              height: 36px;
              top: 0px;
              /* Inside Auto Layout */
              flex: none;
              order: 3;
              align-self: center;
              margin: 0px 0px;
              &.col-1 {
                left: 0px;
              }
              &.col-2 {
                left: 40px;
              }
              &.col-3 {
                left: 80px;
              }
              &.col-4 {
                left: 120px;
              }
              &.col-5 {
                left: 160px;
              }
              &.col-6 {
                left: 200px;
              }
              &.col-1 {
                left: 240px;
              }
              .text {
                position: absolute;
                left: 30%;
                right: 27.5%;
                top: 22.22%;
                bottom: 22.22%;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                /* identical to box height, or 167% */
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: rgba(47, 72, 106, 0.5);
              }
            }
          }
          .top-month {
            position: absolute;
            width: 39px;
            height: 20px;
            left: 128px;
            top: calc(50% - 20px / 2 - 172px);
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height, or 143% */
            display: flex;
            align-items: center;
            /* Black */
            color: #2F486A;
          }
        }
      }
      .guests {
        position: absolute;
        width: 220px;
        height: 52px;
        left: 472px;
        top: 0px;
        .guests-back {
          position: absolute;
          left: 0%;
          right: 0%;
          top: 0%;
          bottom: 0%;
          background: #549CFF;
          mix-blend-mode: normal;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
        }
        .title-top {
          position: absolute;
          width: 34px;
          height: 16px;
          left: 12px;
          top: calc(50% - 16px / 2 - 10px);
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          /* identical to box height, or 133% */
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
        .guests-value {
          position: absolute;
          width: 140px;
          height: 20px;
          left: 12px;
          top: calc(50% - 20px / 2 + 8px);
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          /* identical to box height, or 143% */
          display: flex;
          align-items: center;
          color: #FFFFFF;
        }
        .guests-icon {
          position: absolute;
          width: 24px;
          height: 24px;
          left: 182px;
          top: 14px;
        }
        .popup-select-guest{
          position: absolute;
          width: 356px;
          height: 210px;
          left: 0px;
          top: 82px;

          /* White */
          background: #FFFFFF;
          box-shadow: 0px 2px 1px rgba(85, 89, 106, 0.0196802), 0px 4px 2px rgba(85, 89, 106, 0.0282725), 0px 6px 4px rgba(85, 89, 106, 0.035), 0px 8px 8px rgba(85, 89, 106, 0.0417275), 0px 18px 16px rgba(85, 89, 106, 0.0503198), 0px 30px 40px rgba(85, 89, 106, 0.07);
          border-radius: 8px;
        }
      }
      .btn-search {
        position: absolute;
        width: 220px;
        height: 52px;
        left: 708px;
        top: 0px;
        .btn-graph {
          position: absolute;
          left: 0%;
          right: 0%;
          top: 0%;
          bottom: 0%;
          /* White */
          background: #FFFFFF;
          mix-blend-mode: normal;
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
        }
        .btn-caption {
          position: absolute;
          width: 104px;
          height: 20px;
          left: calc(50% - 104px / 2);
          top: calc(50% - 20px / 2);
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */
          display: flex;
          align-items: center;
          text-align: center;
          /* Blue */
          color: #267FF9;
        }
      }
    }
  }
  .frame-119{
    display: flex;
    flex-direction: column;
    padding: 16px;

    position: relative;
    width: 253px;
    height: 232px;

    /* White */
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(85, 89, 106, 0.0196802), 0px 4px 2px rgba(85, 89, 106, 0.0282725), 0px 6px 4px rgba(85, 89, 106, 0.035), 0px 8px 8px rgba(85, 89, 106, 0.0417275), 0px 18px 16px rgba(85, 89, 106, 0.0503198), 0px 30px 40px rgba(85, 89, 106, 0.07);
    border-radius: 8px;
  }
}