.popup-room-info {
  transform: translate3d(0px, 0px, 0px);
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: fixed;
  width: 796px;
  margin: 0 auto;
  z-index: 100;
  top: 38px;
  left: 29%;
  .decorate {
    position: absolute;
    width: 796px;
    height: 1100px;
    /* White */
    background: #FFFFFF;
    /* 30 dp */
    box-shadow: 0px -2px 1px rgba(85, 89, 106, 0.0196802), 0px 2px 1px rgba(85, 89, 106, 0.0196802), 0px 4px 2px rgba(85, 89, 106, 0.0282725), 0px 6px 4px rgba(85, 89, 106, 0.035), 0px 8px 8px rgba(85, 89, 106, 0.0417275), 0px 18px 16px rgba(85, 89, 106, 0.0503198), 0px 30px 40px rgba(85, 89, 106, 0.07);
    border-radius: 8px;
  }
  .close-btn {
    @extend .clickable;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 736px;
    top: 36px;
    background: url(../static/close-icon.svg) no-repeat center;
  }
  .title {
    position: absolute;
    width: 556px;
    height: 32px;
    top: 32px;
    left: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height, or 123% */
    display: flex;
    align-items: center;
    /* Black */
    color: #2F486A;
  }
  .short-info {
    position: absolute;
    width: 641px;
    height: 52px;
    top: 96px;
    left: 32px;
    .area-title {
      position: absolute;
      width: 69px;
      height: 24px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */
      display: flex;
      align-items: center;
      /* Second Black */
      color: rgba(47, 72, 106, 0.75);
    }
    .area-value {
      position: absolute;
      width: 53px;
      height: 24px;
      left: 148px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */
      display: flex;
      align-items: center;
      /* Black */
      color: #2F486A;
    }
    .people-count-title {
      position: absolute;
      width: 99px;
      height: 24px;
      left: 0px;
      top: 28px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */
      display: flex;
      align-items: center;
      /* Second Black */
      color: rgba(47, 72, 106, 0.75);
    }
    .people-count-value {
      position: absolute;
      width: 493px;
      height: 24px;
      left: 148px;
      top: 28px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */
      display: flex;
      align-items: center;
      /* Black */
      color: #2F486A;
    }
  }
  .description {
    position: absolute;
    width: 714px;
    height: 240px;
    left: 32px;
    top: 180px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    display: flex;
    align-items: center;
    /* Black */
    color: #2F486A;
  }
  .room-comfort-item {
    position: relative;
    left: 32px;
    top: 452px;
    margin-bottom: 45px;
    .title {
      position: absolute;
      height: 20px;
      left: 0px;
      top: 0px;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */
      /* Black */
      color: #2F486A;
    }
    .font {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */
      display: flex;
      align-items: center;
      /* Black */
      color: #2F486A;
      /* Inside Auto Layout */
      flex: none;
      order: 1;
      align-self: center;
      margin: 12px 0px;
    }
    .point-col {
      @extend .font;
      display: inline-block;
      padding: 0px;
      position: relative;
      width: 235px;
      height: 24px;
      top: 20px;
      &:before{
        display: inline-block;
        position: relative;
        content: '';
        width: 24px;
        height: 24px;
        background: url(../static/star.svg) no-repeat center;
        margin-right: 12px;
        top:6px
      }
    }
  }
}