.title {
  align-items: center;
  color: rgba(47, 72, 106, 0.75);
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: 18px;
  left: 0;
  line-height: 18px;
  position: absolute;
  text-transform: none;
}
.form {
  border: 1px solid #DCDFE2;
  border-radius: 4px;
  box-sizing: border-box;
  height: 37px;
  left: 18px;
  padding: 5px;
  position: relative;
  top: 7px;
  width: 101px;
  overflow: hidden;
  .input-minus {
    @extend .clickable;
    background: url(../static/input-minus.svg) no-repeat center;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    height: 24px;
    left: 6px;
    position: absolute;
    width: 24px;
  }
  .number-input{
    width: 95px;
    position: absolute;
    height: 95%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
  }
  .input-value, input[type=number] {
    color: #2F486A;
    font-size: 14px;
    font-weight: 500;
    height: 95%;
    line-height: 20px;
    position: relative;
    text-align: center;

    border: none;

  }
  .input-plus {
    @extend .clickable;
    background: url(../static/input-plus.svg) no-repeat center;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    height: 24px;
    position: absolute;
    right: 6px;
    width: 24px;
  }
}
/*

 */
@media only screen and (max-width:1199px){
  .popup-select-guest{
    height:381px;
    left:0;
    position:absolute;
    top:82px;
    width:356px;
    -moz-transform: scale(0.92);
    transform-origin: 50% 0;
    z-index: 1;
    zoom: 92%;
    margin: 0 auto;
    .decorate{
      background:#FFFFFF;
      border-radius:8px;
      box-shadow:0 2px 1px rgba(85, 89, 106, 0.0196802), 0 4px 2px rgba(85, 89, 106, 0.0282725), 0 6px 4px rgba(85, 89, 106, 0.035), 0 8px 8px rgba(85, 89, 106, 0.0417275), 0 18px 16px rgba(85, 89, 106, 0.0503198), 0 30px 40px rgba(85, 89, 106, 0.07);
      height:100%;
      position:absolute;
      width:100%;
    }
    .fade-top{
      position:absolute;
      display:none;
      width:100%;
      height:55px;
      background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      transform:rotate(-180deg);
      z-index:1;
    }
    .apartment-blocks{
      height:310px;
      overflow:auto;
      position:absolute;
      width:100%;
      .apartment-block{
        display:flex;
        flex-direction:column;
        left:16px;
        padding:0;
        position:relative;
        width:324px;
        margin-bottom:20px;
        .line{
          position:relative;
          width:324px;
          height:1px;
          top:0px;
          background:#DCDFE2;
          align-self:center;
          margin-top:12px;
        }
        .apartment-row{
          align-self:center;
          height:62px;
          margin:0 16px;
          position:relative;
          top:12px;
          width:324px;
          .frame-275{
            flex-direction:column;
            height:44px;
            left:0;
            padding:0;
            position:absolute;
            top:20px;
            .apartment-num{
              align-items:center;
              align-self:flex-start;
              bottom:54.55%;
              color:#2F486A;
              font-size:14px;
              font-style:normal;
              font-weight:600;
              left:0;
              line-height:20px;
              margin:0 4px;
              order:0;
              position:static;
              right:0;
              top:0;
              .apartment-num-value{
                display: inline-block;
              }

            }
            .apartment-delete{
              align-items:center;
              align-self:flex-start;
              bottom:0;
              color:#267FF9;
              display:flex;
              flex:none;
              font-size:12px;
              font-style:normal;
              font-weight:500;
              left:0;
              line-height:20px;
              margin:0 4px;
              order:1;
              position:static;
              right:16.67%;
              text-decoration-line:underline;
              top:54.55%;
            }
          }
          .input-up-label1{
            left:90px;
            position:absolute;
            top:0;
            .title{
              color:rgba(47, 72, 106, 0.75);
              font-size:14px;
              font-weight:500;
              line-height:18px;
              position:relative;
              text-transform:none;
              top:0;
              width:97px;
            }
            .form{
            }
          }
          .input-up-label2{
            left:205px;
            position:absolute;
            top:0;
            .title{
              color:rgba(47, 72, 106, 0.75);
              font-size:14px;
              font-weight:500;
              line-height:18px;
              position:relative;
              text-transform:none;
              top:0;
              width:98px;
            }
          }
        }
        .child-age-row{
          position:relative;
          top:28px;
          height:36px;
          margin-bottom:12px;
          .child-count-row{
            position:absolute;
            width:180px;
            height:100%;
            font-weight:500;
            font-size:14px;
            line-height:20px;
            align-items:center;
            color:rgba(47, 72, 106, 0.75);
            top:7px;
          }
          .age-3{
            display: none;
          }
          .age-5{}
          .child-age-select{
            position:absolute;
            width:101px;
            height:100%;
            left:223px;
            .decorate{
              position:absolute;
              height:100%;
              width:100%;
              border:1px solid #DCDFE2;
              box-sizing:border-box;
              border-radius:4px;
            }
            .age-selected{
              position:absolute;
              display:flex;
              width:101px;
              height:100%;
              left:0;
              top:calc(50% - 20px / 2);
              font-weight:500;
              font-size:14px;
              line-height:20px;
              align-items:center;
              color:#2F486A;
              box-shadow: unset;
              .age-value{
                margin:8px 4px 8px 12px;
              }
              .arrow-down-select-mini{
                position:absolute;
                width:24px;
                height:24px;
                right:0;
                bottom:5px;
                border-radius:2px;
                background:url(../static/arrow-down-select-mini.svg) no-repeat center;
              }
            }
            .droopdown-expanded{
              top:50px;
              width:140px;
            }
          }
        }
      }
    }
    .button-1{
      background:rgba(84, 156, 255, 0.25);
      border-radius:4px;
      bottom:16px;
      display:flex;
      height:44px;
      left:16px;
      position:absolute;
      width:211px;
      .button-label{
        align-items:center;
        align-self:center;
        color:#267FF9;
        display:flex;
        flex:none;
        font-size:14px;
        font-style:normal;
        font-weight:600;
        height:32px;
        left:47.5px;
        line-height:32px;
        margin:0 auto;
        order:0;
        position:static;
        top:6px;
        /*width:116px;*/
      }
    }
    .button-2{
      background:#267FF9;
      border-radius:4px;
      bottom:16px;
      box-shadow:0 6px 12px rgba(38, 127, 249, 0.2), 0 4px 6px rgba(38, 127, 249, 0.2);
      display:flex;
      height:44px;
      left:239px;
      position:absolute;
      width:101px;
      .button-label{
        align-items:center;
        align-self:center;
        color:#FFFFFF;
        display:flex;
        flex:none;
        font-size:14px;
        font-style:normal;
        font-weight:600;
        height:32px;
        left:26.5px;
        line-height:32px;
        margin:0 auto;
        order:0;
        position:static;
        top:6px;
        width:48px;
      }
    }
  }
}
@media only screen and (min-width:1200px){
  .popup-select-guest{
    height:381px;
    left:0;
    position:absolute;
    top:82px;
    width:356px;
    .decorate{
      background:#FFFFFF;
      border-radius:8px;
      box-shadow:0 2px 1px rgba(85, 89, 106, 0.0196802), 0 4px 2px rgba(85, 89, 106, 0.0282725), 0 6px 4px rgba(85, 89, 106, 0.035), 0 8px 8px rgba(85, 89, 106, 0.0417275), 0 18px 16px rgba(85, 89, 106, 0.0503198), 0 30px 40px rgba(85, 89, 106, 0.07);
      height:100%;
      position:absolute;
      width:100%;
    }
    .fade-top{
      position:absolute;
      display:none;
      width:100%;
      height:55px;
      background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      transform:rotate(-180deg);
      z-index:1;
    }
    .apartment-blocks{
      height:310px;
      overflow:auto;
      position:absolute;
      width:100%;
      .apartment-block{
        display:flex;
        flex-direction:column;
        left:16px;
        padding:0;
        position:relative;
        width:324px;
        margin-bottom:20px;
        .line{
          position:relative;
          width:324px;
          height:1px;
          top:0px;
          background:#DCDFE2;
          align-self:center;
          margin-top:12px;
        }
        .apartment-row{
          align-self:center;
          height:62px;
          margin:0 16px;
          position:relative;
          top:12px;
          width:324px;
          .frame-275{
            flex-direction:column;
            height:44px;
            left:0;
            padding:0;
            position:absolute;
            top:20px;
            .apartment-num{
              align-items:center;
              align-self:flex-start;
              bottom:54.55%;
              color:#2F486A;
              font-size:14px;
              font-style:normal;
              font-weight:600;
              left:0;
              line-height:20px;
              margin:0 4px;
              order:0;
              position:static;
              right:0;
              top:0;
              .apartment-num-value{
                display: inline-block;
              }
            }
            .apartment-delete{
              align-items:center;
              align-self:flex-start;
              bottom:0;
              color:#267FF9;
              display:flex;
              flex:none;
              font-size:12px;
              font-style:normal;
              font-weight:500;
              left:0;
              line-height:20px;
              margin:0 4px;
              order:1;
              position:static;
              right:16.67%;
              text-decoration-line:underline;
              top:54.55%;
            }
          }
          .input-up-label1{
            left:90px;
            position:absolute;
            top:0;
            .title{
              color:rgba(47, 72, 106, 0.75);
              font-size:14px;
              font-weight:500;
              line-height:18px;
              position:relative;
              text-transform:none;
              top:0;
              width:97px;
            }
            .form{
            }
          }
          .input-up-label2{
            left:205px;
            position:absolute;
            top:0;
            .title{
              color:rgba(47, 72, 106, 0.75);
              font-size:14px;
              font-weight:500;
              line-height:18px;
              position:relative;
              text-transform:none;
              top:0;
              width:98px;
            }
          }
        }
        .child-age-row{
          position:relative;
          top:28px;
          height:36px;
          margin-bottom:12px;
          .child-count-row{
            position:absolute;
            width:180px;
            height:100%;
            font-weight:500;
            font-size:14px;
            line-height:20px;
            align-items:center;
            color:rgba(47, 72, 106, 0.75);
            top:7px;
          }
          .age-3{
            display: none;
          }
          .age-5{}
          .child-age-select{
            position:absolute;
            width:101px;
            height:100%;
            left:223px;
            .decorate{
              position:absolute;
              height:100%;
              width:100%;
              border:1px solid #DCDFE2;
              box-sizing:border-box;
              border-radius:4px;
            }
            .age-selected{
              position:absolute;
              display:flex;
              width:101px;
              height:100%;
              left:0;
              top:calc(50% - 20px / 2);
              font-weight:500;
              font-size:14px;
              line-height:20px;
              align-items:center;
              color:#2F486A;
              box-shadow: unset;
              .age-value{
                margin:8px 4px 8px 12px;
              }
              .arrow-down-select-mini{
                position:absolute;
                width:24px;
                height:24px;
                right:0;
                bottom:5px;
                border-radius:2px;
                background:url(../static/arrow-down-select-mini.svg) no-repeat center;
              }
            }
            .droopdown-expanded{
              top:50px;
              width:140px;
            }
          }
        }
      }
    }
    .button-1{
      background:rgba(84, 156, 255, 0.25);
      border-radius:4px;
      bottom:16px;
      display:flex;
      height:44px;
      left:16px;
      position:absolute;
      width:211px;
      .button-label{
        align-items:center;
        align-self:center;
        color:#267FF9;
        display:flex;
        flex:none;
        font-size:14px;
        font-style:normal;
        font-weight:600;
        height:32px;
        left:47.5px;
        line-height:32px;
        margin:0 auto;
        order:0;
        position:static;
        top:6px;
        width:116px;
      }
    }
    .button-2{
      background:#267FF9;
      border-radius:4px;
      bottom:16px;
      box-shadow:0 6px 12px rgba(38, 127, 249, 0.2), 0 4px 6px rgba(38, 127, 249, 0.2);
      display:flex;
      height:44px;
      left:239px;
      position:absolute;
      width:101px;
      .button-label{
        align-items:center;
        align-self:center;
        color:#FFFFFF;
        display:flex;
        flex:none;
        font-size:14px;
        font-style:normal;
        font-weight:600;
        height:32px;
        left:26.5px;
        line-height:32px;
        margin:0 auto;
        order:0;
        position:static;
        top:6px;
        width:48px;
      }
    }
  }
}